---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: sample-app
  namespace: sample-apps
  labels:
    app: sample-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: sample-app
        imagePullPolicy: Always
        image: tbs-sample-app
        env:
        - name: PORT
          value: "8080"
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: sample-app-config
      imagePullSecrets:
        - name: regcred

